/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 1px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 100px) {
	.reviews_block{
		margin: 15px auto;
		float: none;
	}
	.text_margin .row{
		margin: 0;
	}
	.text_margin{
		margin-left: 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.reviews_block{
		margin: 15px;
		float: left;
	}
	.text_margin{
		margin-left: 2%;
	}
}
@media only screen and (min-width : 850px) {
	.text_margin{
		margin-left: 9%;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.text_margin{
		margin-left: 16%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.content{
		width: 1285px;
		margin: auto;
		position: relative;
	}
	#header{
		padding-left: 0;
		padding-right: 0;
	}
	#main_form_section1 h3{
		font-size: 45px;
		padding-bottom: 25px;
	}
	.text_margin{
		margin-left: 7%;
	}
}